[Desktop Entry]
Name=Kito Files
Comment=Lightweight native Linux file manager
Exec=kito-files %U
Icon=it.kito.KitoFiles
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;
StartupWMClass=it.kito.KitoFiles
